@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide
  }

  h1 , h2 , h3 , h4 , h5 , h6 {
    @apply font-bold
  }

  h1{
    @apply text-4xl sm:text-5xl md:text-6xl
  }
  h2{
    @apply text-3xl sm:text-4xl
  }
  li{
    @apply cursor-pointer
  }
  button{
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white
  }
}

@keyframes slideLeftToRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in-block {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s, transform 0.5s;
}

.fade-in-block.fade-in {
  opacity: 1;
  transform: translateX(0);
}

.background_crazy{
  background-color: red;
}

.grayscale-image {
  filter: grayscale(90%);
  transition: filter 0.3s ease; /* Adding transition for smooth effect */
}


.grayscale-image:hover {
  filter: none; /* Removing the grayscale filter on hover */
}
/* 
@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
} */